.card {
  width: 320px;
  padding: 24px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  text-align: center;
  color: #fff;
}

.title {
  margin-bottom: 16px;
  font-size: 18px;
}

.uploadBox {
  display: flex;
  flex-direction: column;
  gap: 6px;

  padding: 20px;
  border-radius: 12px;
  cursor: pointer;

  border: 2px dashed rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.uploadBox:hover {
  background: rgba(255, 255, 255, 0.1);
}

.uploadBox span {
  font-weight: 600;
}

.uploadBox small {
  font-size: 12px;
  opacity: 0.8;
}

.fileName {
  margin-top: 12px;
  font-size: 13px;
  word-break: break-all;
}


.uploadBtn {
  margin-top: 12px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
